body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#main {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#menu {
	margin: 2%;
}

#menu a {
	margin: 0 1%;
}